<h3> Restaurants </h3>

<% if @restaurants.present? && @restaurants.count > 1 %>
  <%= render partial: 'restaurants/restaurant'  %>
<% else %>
  <%= render html: "Not Found Any Restaurant" %>
<% end %>

